* {
    box-sizing: border-box;
}

a {
    color: #0369DD;
    text-decoration: none;
}
  
body {
    color: #444444;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
  
h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: .5rem;
}
  
hr {
    color: #444444;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

section {
    background-color: #ffffff;
    position: relative;
    padding: 2rem;
}

section > * {
    max-width: 1024px;
    margin: 0 auto;
}

.button {
    background-color: #29384f;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2rem;
}

.button:hover {
    background-color: #f5bc9e;
    color: #444444;
}

.nice-font {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

.material-icons {
    font-size: 1rem;
    vertical-align: bottom;
}

/** --- Invitation --- */
.invitation {
    background-color: #29384f;
    font-family: 'Playfair Display SC', serif;
    padding: 2rem;
    text-align: center;

    display: flex;
    justify-content: center;
}

.invitation__layer-1 {
    background-color: #f5bc9e;
    padding: 1rem;
    position: relative
}

.invitation__layer-2 {
    background-color: #ffffff;
    font-size: 1.75rem;
    padding: 1rem;
}

.leads {
    font-size: 1rem;
    margin-top: 1rem;
}

.leads__lead {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

.invitation-signup {
    background-color: #29384f;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    transform: rotate(25deg);

    position: absolute;
    bottom: -1rem;
    right: -8rem;
    z-index: 1;
}

.invitation-signup__layer-1 {
    background-color: #ffffff;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1.5rem;
    position: relative;
    
    display: flex;
    justify-content: center;
}

.invitation-signup__layer-1:hover {
    background-color: #f5bc9e;
    cursor: pointer;
}

.invitation-signup__hole {
    align-self: center;
    background-color: #29384f;
    border-radius: 50%;
    content: "";
    display: block;
    margin: 0 1rem 0 -1rem;
    position: relative;

    height: 1rem;
    width: 1rem;
}

/* --- Intro --- */
.intro {
    display: flex;
}
  
.intro__overview  {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 2rem;
}

.intro__important {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    flex-grow: 2;
    flex-basis: 0;
}

.thing {
    display: flex;
}

.thing__icon {
    width: 64px;
    height: 64px;
    border: 3px solid #f5bc9e;
    border-radius: 50%;
    margin-right: 1rem;
    padding-left: 7px;
    padding-top: 7px;
}
  
.thing__icon > i {
    color: #f5bc9e;
    font-size: 44px;
}
  
.thing__info {
    flex-grow: 1;
    flex-basis: 0;
}
  
.thing__info > ul {
    margin: 0;
    padding-left: 1.5rem;
}

/* --- Map --- */
.map {
    background-image: url("tofta.jpg");
    background-position:  center 35%;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 20rem;
}

.map::before, .map::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border: 2rem solid red;
    border-width: 5rem;
    top: 0;
    right: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: transparent !important;
    border-color: #ffffff;
}

.map::after {
    margin-right: 2.5rem;
    opacity: 0.5;
}

.map__layer-1 {
    background-color: #f5bc9e;
    border: 0.5rem solid #29384f; 
    margin: 0.5rem 4rem;
    max-width: 800px;
}

.map__layer-2 {
    background-color: #ffffff;
    margin: 0.5rem;
    padding-bottom: 1rem;
}

.map__layer-2 iframe {
    width: 100%;
    height: 16rem;
    margin-bottom: 1rem;
}

.map__info {
    display: inline-block;
    margin-left: 1rem;
}

/* --- Schema --- */

.schema::before, .schema::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border: 2rem solid red;
    border-width: 5rem;
    top: -5rem;
    left: 0;
    border-top: 0;
    border-left: 0;
    border-right-color: transparent !important;
    border-color: #ffffff;
}

.schema::after {
    margin-left: 2.5rem;
    opacity: 0.5;
}

.schema-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
}
  
.time-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  
    border-left: 2px solid #444444;
  
    padding-left: 16px;
    padding-top: 1rem;
}
  
.time-line__item {
    list-style: none;
    padding-bottom: 1rem;
    position: relative;
}
   
.time-line__item::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #444444;
    position: absolute;
    left: -25px;
}
  
.time-line__item::after {
    content: "";
    display: block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #f5bc9e;
    position: absolute;
    left: -23px;
    top: 2px;
}

/* --- Toastmasters --- */

.toastmasters {
    background-color: #f5bc9e;
}

.toastmasters::before, .toastmasters::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border: 2rem solid red;
    border-width: 5rem;
    top: 0;
    right: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: transparent !important;
    border-color: #ffffff;
}

.toastmasters::after {
    margin-right: 2.5rem;
    opacity: 0.5;
}

.toastmasters__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.toastmasters__photo > img {
    border: 3px solid #ffffff;
    border-radius: 0.5rem;
    width: 100%;
}

.toastmasters__info {
    margin-bottom: 1rem;
}

/* --- End section --- */

.end {
    background-color: #1e293a;
    color: #ffffff;
}
  
.end::before, .end::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      border: 2rem solid red;
      border-width: 5rem;
      top: -5rem;
      left: 0;
      border-top: 0;
      border-left: 0;
      border-right-color: transparent !important;
      border-color: #1e293a;
}
  
.end::after {
      margin-left: 2.5rem;
      opacity: 0.5;
}

/* --- Sign-up section --- */

.signup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.signup__overlay {
    background-color: #000000;
    opacity: 0.65;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.signup__wrapper {
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 3;
}

.signup__window {
    background-color: #f5bc9e;
    border: 1rem solid #29384f; 
    max-width: 600px;
    margin: 2rem;
    padding: 1rem;
}

.window__layer {
    background-color: #ffffff;
    padding: 1rem;
}

.window__layer h3, .signup__button  {
    text-align: center;
}

/* --- Media --- */

@media (max-width: 768px) { 
    .invitation-signup {
        transform: rotate(20deg);
        bottom: -4rem;
        right: 0rem;
    }

    .intro {
        display: block;
    }

    .intro__overview {
        margin: 0 0 2rem 0;
    }

    .end::before, .end::after {
        display: none;
    }
}

@media (max-width: 550px) { 
    .intro__important {
        grid-template-columns: auto;
    }

    .map__layer-1 {
        margin: 0.5rem 2rem;
    }

    .schema-container {
        display: grid;
        grid-template-columns: auto;
    }

    .toastmasters__container {
        grid-template-columns: auto;
        grid-row-gap: 1rem;
        margin-bottom: 1rem;
    }
}
