* {
    box-sizing: border-box;
}

a {
    color: #0369DD;
    text-decoration: none;
}
  
body {
    color: #444444;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
  
h3 {
    font-family: 'Playfair Display SC', serif;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: .5rem;
}
  
hr {
    color: #444444;
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

section {
    background-color: #ffffff;
    position: relative;
    padding: 2rem;
}

section > * {
    width: 1024px;
    margin: 0 auto;
}

/** --- Invitation --- */
.invitation {
    background-color: #29384f;
    font-family: 'Playfair Display SC', serif;
    padding: 2rem;
    text-align: center;

    display: flex;
    justify-content: center;
}

.invitation__layer-1 {
    background-color: #f5bc9e;
    padding: 1rem;
    position: relative
}

.invitation__layer-2 {
    background-color: #ffffff;
    font-size: 1.75rem;
    padding: 1rem;
}

.leads {
    font-size: 1rem;
    margin-top: 1rem;
}

.leads__lead {
    font-family: 'Parisienne', cursive;
    font-size: 2rem;
}

.signup {
    background-color: #29384f;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    transform: rotate(25deg);

    position: absolute;
    bottom: -1rem;
    right: -8rem;
    z-index: 1;
}

.signup__layer-1 {
    background-color: #ffffff;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding: 1rem 1rem 1rem 1.5rem;
    position: relative;
    
    display: flex;
    justify-content: center;
}

.signup__layer-1:hover {
    background-color: #f5bc9e;
    cursor: pointer;
}

.signup__hole {
    align-self: center;
    background-color: #29384f;
    border-radius: 50%;
    content: "";
    display: block;
    margin: 0 1rem 0 -1rem;
    position: relative;

    height: 1rem;
    width: 1rem;
}

/* --- Intro --- */
.intro {
    display: flex;
}
  
.intro__overview  {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 2rem;
}

.intro__important {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    flex-grow: 2;
    flex-basis: 0;
}

.thing {
    display: flex;
}

.thing__icon {
    width: 64px;
    height: 64px;
    border: 3px solid #f5bc9e;
    border-radius: 50%;
    margin-right: 1rem;
    padding-left: 7px;
    padding-top: 7px;
}
  
.thing__icon > i {
    color: #f5bc9e;
    font-size: 44px;
}
  
.thing__info {
    flex-grow: 1;
    flex-basis: 0;
}
  
.thing__info > ul {
    margin: 0;
    padding-left: 1.5rem;
}

/* --- Map --- */
.map {
    background-image: url("tofta.jpg");
    background-position:  center 35%;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 20rem;
}

.map::before, .map::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border: 2rem solid red;
    border-width: 5rem;
    top: 0;
    right: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-color: transparent !important;
    border-color: #ffffff;
}

.map::after {
    margin-right: 2.5rem;
    opacity: 0.5;
}

.map__layer-1 {
    background-color: #f5bc9e;
    border: 0.5rem solid #29384f; 
    margin: 0.5rem 0;
    max-width: 800px;
}

.map__layer-2 {
    background-color: #ffffff;
    margin: 0.5rem;
    padding-bottom: 1rem;
}

.map__layer-2 iframe {
    width: 100%;
    height: 16rem;
    margin-bottom: 1rem;
}

.map__info {
    display: inline-block;
    margin-left: 1rem;
}

.map__info i {
    font-size: 1rem;
}

/* --- Schema --- */

.schema::before, .schema::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    border: 2rem solid red;
    border-width: 5rem;
    top: -5rem;
    left: 0;
    border-top: 0;
    border-left: 0;
    border-right-color: transparent !important;
    border-color: #ffffff;
}

.schema::after {
    margin-left: 2.5rem;
    opacity: 0.5;
}

.schema-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
}
  
.time-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  
    border-left: 2px solid #444444;
  
    padding-left: 16px;
    padding-top: 1rem;
}
  
.time-line__item {
    list-style: none;
    padding-bottom: 1rem;
    position: relative;
}
   
.time-line__item::before {
    content: "";
    display: block;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: #444444;
    position: absolute;
    left: -25px;
}
  
.time-line__item::after {
    content: "";
    display: block;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #f5bc9e;
    position: absolute;
    left: -23px;
    top: 2px;
}

/* --- Main section --- */

.main__section {
    background-color: #ffffff;
    position: relative;
    padding: 2rem;
}


.main__section > * {
      width: 1024px;
      margin: 0 auto;
}
  
.main__section--first {
    background-color: #eeeeee;
}
  
.main__section--first::before, .main__section--first::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      border: 2rem solid red;
      border-width: 5rem;
      top: -5rem;
      left: 0;
      border-top: 0;
      border-left: 0;
      border-right-color: transparent !important;
      border-color: #eeeeee;
}
  
.main__section--first::after {
      margin-left: 2.5rem;
      opacity: 0.5;
}
  
.main__section--second {
    background-color: #1e293a;
    color: #ffffff;
}
  
.main__section--second::before, .main__section--second::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      border: 2rem solid red;
      border-width: 5rem;
      top: 0;
      right: 0;
      border-bottom-width: 0;
      border-right-width: 0;
      border-left-color: transparent !important;
      border-color: #ffffff;
}
  
.main__section--second::after {
      margin-right: 2.5rem;
      opacity: 0.5;
}
  

.main__section--third {
    background-color: #f5bc9e;
}
  
.main__section--third::before, .main__section--third::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      border: 2rem solid red;
      border-width: 5rem;
      top: -5rem;
      left: 0;
      border-top: 0;
      border-left: 0;
      border-right-color: transparent !important;
      border-color: #f5bc9e;
}
  
.main__section--third::after {
      margin-left: 2.5rem;
      opacity: 0.5;
}

/*
.schema {
    display: flex;
}
  
.schema:first-child {
      padding-left: 0;
}
  
.schema *:last-child {
      padding-right: 0;
}
  
.schema__day {
    flex-grow: 1;
    flex-basis: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
  */





.toast-masters {
    display: flex;
  
    margin-top: 1rem;
    margin-bottom: 2rem;
}
  
.toast-masters > * {
    flex-grow: 1;
    flex-basis: 0;
}
  
.toast-masters__photo {
margin-right: 1rem;
}
  
.toast-masters__photo > img {
    width: 100%;
    border: 3px solid #ffffff;
    border-radius: 0.5rem;
}
  
.toast-masters__info {
margin-left: 1rem;
}
  
.toast-masters__toast-master {
margin-top: 2rem;
}
  
.toast-masters__toast-master > * {
    margin-bottom: .5rem;
}
  
.toast-master__we-think {
    border: 1px dashed #ffffff;
    border-radius: 5px;
    padding: 1rem;
}